In [2]:
SELECT szh.SZALLAS_ID, szh.SZALLAS_NEV, sz.KLIMAS
FROM Szallashely szh JOIN Szoba sz ON szh.SZALLAS_ID = sz.SZALLAS_FK
WHERE szh.SZALLAS_ID = sz.SZALLAS_FK
GROUP BY szh.SZALLAS_ID

: Msg 8120, Level 16, State 1, Line 1
Column 'Szallashely.SZALLAS_NEV' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [ ]:
SELECT sz.SZOBA_ID, szh.ROGZ_IDO, Foglalas.FOGLALAS_PK
FROM Szoba sz JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID, Foglalas
WHERE Foglalas.SZOBA_FK = sz.SZALLAS_FK
AND Foglalas.FOGLALAS_PK > 10